:root {
  --text: #59697e;
  --text-h: #111519;
  --text-light: #fff;
  --bg: #fff;
  --border: #b3d3fc;
  --code-bg: #fef0dd;
  --accent: #69a8f9;
  --accent-hover: #5e97e0;
  --accent-bg: rgba(105, 168, 249, 0.1);
  --accent-border: rgba(105, 168, 249, 0.9);
  --darker-border: #7d93b0;
  --social-bg: rgba(254, 240, 221, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
    --map-bg: #aaa; */
    --bg: #ccc;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
  background-color: var(--accent-bg);
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--bg);
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

ul {
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid var(--border);
  border-radius: 10px;
}

ul::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.typed-city-list li:hover {
  background-color: var(--accent-bg);
}

.typed-count {
  display: inline-block;
  color: var(--accent);
  font-weight: bold;
  margin: 0 5px;
}

.map-display {
  position: relative;
  height: 385px;
  border: 1px solid var(--darker-border);
  border-radius: 10px;
}

.circles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
}
.circles circle {
  fill: rgba(251, 152, 13, 0.2);
  stroke: rgba(251, 152, 13, 0.9);
  stroke-width: 0.3;
  transform-box: fill-box;
  transform-origin: center;
  transition: all 0.05s ease-in-out;
}
.circles circle:hover {
  fill: rgba(251, 152, 13, 0.3);
  transform: scale(1.5);
  cursor: pointer;
}
.circles text {
  fill: var(--text-h);
}

.admin {
  display: inline-block;
  margin: 0 4px;
}

#map {
  width: 100%;
}

.circle-size {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.city-form {
  margin-bottom: 8px;
}

.city-input {
  border: 1px solid var(--border);
  padding: 4px 8px;
  border-radius: 8px;
}

.city-input:focus {
  border-color: var(--accent-border);
}

.btn {
  border: none;
  border-radius: 8px;
  background-color: var(--accent);
  color: var(--text-light);
  padding: 4px 16px;
  margin-left: 8px;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-hover);
  cursor: pointer;
}

[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  outline: 0;
  background-color: transparent;
}
[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
  background: var(--accent-bg);
}
[type="range" i]::-webkit-slider-container {
  height: 100%;
  overflow: hidden;
}
[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--accent);
  border: 1px solid transparent;
  margin-top: -4px;
  border-image: linear-gradient(var(--accent), var(--accent)) 0 fill / 7 15 7
    0 / 0px 0px 0 2000px;
}
[type="range"]::-webkit-slider-thumb:hover {
  background-color: var(--accent-hover);
  border-image: linear-gradient(var(--accent-hover), var(--accent-hover)) 0
    fill / 7 15 7 0 / 0px 0px 0 2000px;
}
